@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
    --primary-color: #12ac8e;
    --primary-color-dark: #0d846c;
    --primary-color-light: #e9f7f7;
    --secondary-color: #fb923c;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
}
header{
  background-color: #0d846c;
  
}

.contenedorseccionuno{
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0;
}

.header_menu{
 display: flex;
justify-content: space-between;
 gap: 8rem;
 align-items: center;
}

a{
  text-decoration: none;
  color: var(--white);
}
div{
  display: block;
  unicode-bidi: isolate;
}
.link{
  display: list-item;
  list-style-type: none;
}

/* LOGO */

.header_logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  display: flex;

}
.Care{
  font-size: 1.5rem;
  color: var(--secondary-color);
}
.btn{
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}
